@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders' as p;
@use 'sass:color';

.about {
    &__quality {
        background: url(/assets/Images/image\ 9.png) 100% 100%/contain no-repeat;
        @include m.d-flex(start, start, nowrap, column, 0, 20px);

        height: 380px;
        margin: 100px 0 100px 0;

        &-title {
            @include m.font(45px, 400, v.$color__white);

        }

        &-description {
            @include m.font(20px, 300, v.$color__white);
            max-width: 590px;
            height: 90px;
        }

        @media(max-width:p.$media_xl) {
            background: linear-gradient(1deg, rgba(25, 40, 77, 0) 0%, rgba(103, 143, 242, 0.74) 74%),
                url(/assets/Images/image\ 9.png) 100% 100%/contain no-repeat;
        }

        @media(max-width:p.$media_lg) {
            background: url(/assets/Images/image\ 9.png) 100% 100%/450px no-repeat;

        }

        @media(max-width:p.$media_md) {
            height: 500px;
            background: url(/assets/Images/image\ 9.png) 100% 100%/450px no-repeat;

            &-title {
                @include m.font(35px, 400, v.$color__white);

            }

            &-description {
                @include m.font(16px, 300, v.$color__white);
                max-width: 480px;
                height: 90px;
            }

        }

        @media(max-width:p.$media_min) {
            height: 450px;
            background: url(/assets/Images/image\ 9.png) 130px 100%/450px no-repeat;

            &-title {
                @include m.font(35px, 400, v.$color__white);

            }

            &-description {
                @include m.font(16px, 300, v.$color__white);
                max-width: 400px;
                height: 80px;
            }
        }
    }

    &__touch {
        position: relative;
        width: 100%;
        padding: 0 0 0 15px;
        height: 500px;
        text-align: right;
        @include m.d-flex(end, end, nowrap, column, 0, 20px);

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            rotate: 15deg;
            @include m.position(absolute, -1, -1, top, left, 0, -380px);
            background: url('/assets/Images/телефон.png') 0 0/contain no-repeat;
        }

        &-title {
            @include m.font(45px, 400, v.$color__white);

        }

        &-description {
            @include m.font(20px, 300, v.$color__white);
            max-width: 480px;
            height: 90px;
        }

        @media(max-width:p.$media_lg) {
            height: 450px;
        }

        @media(max-width:p.$media_md) {
            @include m.d-flex(start, end, nowrap, column, 0, 20px);
            height: 400px;

            &::before {
                background: url('/assets/Images/телефон.png') 0 0/90% no-repeat;
                rotate: 65deg;
                @include m.position(absolute, -1, -1, top, left, 0, -260px);
            }

            &-title {
                @include m.font(35px, 400, v.$color__white);

            }

            &-description {
                @include m.font(16px, 300, v.$color__white);
                max-width: 340px;
                height: 90px;
            }
        }

        @media(max-width:p.$media_sm) {
            &::before {
                background: url('/assets/Images/телефон.png') -170px 0/125% no-repeat;
                rotate: 65deg;
                @include m.position(absolute, -1, -1, top, left, 0, -200px);
            }
        }

        @media(max-width:p.$media_min) {
            height: 350px;

            &::before {
                background: url('/assets/Images/телефон.png') -170px 0/125% no-repeat;
                rotate: 65deg;
                @include m.position(absolute, -1, -1, top, left, 80px, -170px);
            }
        }
    }

    &__approach {
        margin: 200px 0 0 0;
        background: url(/assets/Images/кактусзеленый.png) 100% 100%/contain no-repeat;
        @include m.d-flex(center, start, nowrap, column, 0, 20px);
        height: 850px;
        padding: 0 0 0 15px;

        &-title {
            @include m.font(45px, 400, v.$color__white);

        }

        &-description {
            @include m.font(20px, 300, v.$color__white);
            max-width: 730px;
            height: 90px;
        }

        @media(max-width:p.$media_lg) {
            background: url(/assets/Images/кактусзеленый.png) 100% 100%/400px no-repeat;
            height: 800px;

            &-description {
                @include m.font(20px, 300, v.$color__white);
                max-width: 530px;
                height: 90px;
            }
        }

        @media(max-width:p.$media_md) {
            height: 700px;
            background: url(/assets/Images/кактусзеленый.png) 100% 100%/350px no-repeat;
            @include m.d-flex(start, start, nowrap, column, 0, 20px);

            &-title {
                @include m.font(35px, 400, v.$color__white);
            }

            &-description {
                @include m.font(16px, 300, v.$color__white);
                max-width: 430px;
                height: 90px;
            }
        }

        @media(max-width:p.$media_sm) {
            height: 600px;
            margin: 50px 0 0 0;
            background: url(/assets/Images/кактусзеленый.png) 100% 100%/300px no-repeat;
        }
    }
}